<% @page_title = "All Sections" %>

<h2>Sections</h2>

<%= link_to("Add new section", {:action => 'new'}, :class => 'action new') %>

<table class="listings">
  <tr>
    <th></th>
    <th>Sections</th>
    <th>Page ID</th>
    <th>Position</th>
    <th>Content Type</th>
    <th>Visible</th>
    <th>Actions</th>
  </tr>
  <% @sections.each do |section| %>
  <tr>
    <td></td>
    <td><%= section.name %></td>
    <td><%= section.page_id %></td>
    <td><%= section.position %></td>
    <td><%= section.content_type %></td>
    <td><%= section.visible ? 'Yes' : 'No' %></td>
    <td class="actions">
      <%= link_to(raw('<i class="fa fa-eye"></i> Show'), {:action => 'show', :id => section.id}, :class => 'action show') %>
      <%= link_to(raw('<i class="fa fa-pencil"></i> Edit'), {:action => 'edit', :id => section.id}, :class => 'action edit') %>
      <%= link_to(raw('<i class="fa fa-trash-o"></i> Delete'), {:action => 'delete', :id => section.id}, :class => 'action delete') %>
    </td>
  </tr>
  <% end %>
</table>
