<h2>Sections</h2>

<%= link_to("Add new section", {:action => 'new'}, :class => 'action new') %>

<table class="listings">
  <tr>
    <th>Sections</th>
    <th>Position</th>
    <th>Visible</th>
    <th>Actions</th>
  </tr>
  <% @sections.each do |section| %>
  <tr>
    <td><%= section.name %></td>
    <td><%= section.position %></td>
    <td><%= section.visible ? 'Yes' : 'No' %></td>
    <td>
      <%= link_to('Show', {:action => 'show', :id => section.id}, :class => 'action show') %>
      <%= link_to('Edit', {:action => 'edit', :id => section.id}, :class => 'action edit') %>
      <%= link_to('Delete', {:action => 'delete', :id => section.id}, :class => 'action delete') %>
    </td>
  </tr>
  <% end %>
</table>
