<h1>Create a section</h1>

<%= form_for(:section, :url => {:action => "create"}) do |f| %>
<table>
<tr>
  <td>Name</td>
  <td><%= f.text_field(:name) %></td>
  <td>Position</td>
  <td><%= f.text_field(:position) %></td>
  <td>Visible</td>
  <td><%= f.text_field(:visible) %></td>
</tr>
</table>
  <%= submit_tag("Create Section") %>
<% end %>
