<% @page_title = "Update Subject" %>

<h1>Edit a subject</h1>

<%= form_for(:subject, :url => {:action => "update", :id => @subject.id}) do |f| %>
<table>
<tr>
  <td>Name</td>
  <td><%= f.text_field(:name) %></td>
  <td>Position</td>
  <td><%= f.text_field(:position) %></td>
  <td>Visible</td>
  <td><%= f.text_field(:visible) %></td>
</tr>
</table>
  <%= submit_tag("Update Subject") %>
<% end %>
