<h2>Subjects</h2>

<%= link_to("Add new subject", '#', :class => 'action new') %>

<table class="listings">
  <tr>
    <th></th>
    <th>Subjects</th>
    <th>Visible</th>
    <th>Pages</th>
    <th>Actions</th>
  </tr>
  <% @subjects.each do |subject| %>
  <tr>
    <td><%= subject.position %></td>
    <td><%= subject.name %></td>
    <td><%= subject.visible ? 'Yes' : 'No' %></td>
    <td><%= subject.pages.size %></td>
    <td>
      <%= link_to('Show', {:action => 'show', :id => subject.id}, :class => 'action show') %>
      <%= link_to('Edit', '#', :class => 'action edit') %>
      <%= link_to('Delete', '#', :class => 'action delete') %>
    </td>
  </tr>
  <% end %>
</table>
