<% @page_title = "Show Subject" %>

<h1>Show Subject</h1>

<ul>
  <li>Name: <%= @subject.name %></li>
  <li>Position: <%= @subject.position %></li>
  <li>Visible?: <%= @subject.visible ? 'true' : 'false' %></li>
</ul>
<p>Created on <%= @subject.created_at %></p>
<%= link_to("Back to list", {:action => 'index'}) %>
