<!DOCTYPE html>
<html>
<head>
  <title>Simple CMS Admin | <%= @page_title %></title>
  <%= stylesheet_link_tag('application') %>
</head>
<body>

<header id="header">
  <h1>Simple CMS Admin <span><%= @page_title %></span></h1>
</header>

<!-- Notification -->
<% if !flash[:notice].blank? %>
  <p class="successfull_notice"><%= flash[:notice] %></p>
<% end %>
<!-- Notification End -->

<div id="wrapper">
  <%= yield %>
</div>

</body>
</html>
